<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zerocouplage.application.mobile.view"
    android:versionCode="1"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme" >
        <activity android:name=".Acceuil" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormResult"/>
           <activity
            android:name=".ShowCv"/>
           
           <activity
            android:name=".FilePickerActivity"/>
            <activity
            android:name=".FormCandidature"/>
            <activity
            android:name=".Authentification"/>
              <activity
            android:name=".DataAccess"/>
                 <activity
            android:name=".BdVide"/>
           
    </application>

</manifest>