<input type="checkbox"
#if($checked=="true")
   checked="checked" 
#end 
#if($action != "")
   onClick="sendForm(this.form, '$action', '$name' );"  
#end 
  name="$name"><span  style="color: $color ; height: $height; width: $width;"> $text </span> 
