@CHARSET "ISO-8859-1";


.acceuil {
/* 	background-color: orange; */
/* 	background: url("images/form_under.png") 50% 50% no-repeat;* */
	background-image:url(../images/aaa.png);
	background-repeat:no-repeat;

}
.login{
/* 	background-color: orange; */
/* 	background: url("images/form_under.png") 50% 50% no-repeat;* */
width: 100%;
	background-image:url(../images/new.png);
	background-repeat:no-repeat;

}

.formulaire {
/* 	background-color: orange; */
/* 	background: url("images/form_under.png") 50% 50% no-repeat;* */
	background-image:url(../images/web.png);
	background-repeat:no-repeat;
	
    

}

.form_out {
/* 	background-color: orange; */
/* 	background: url("images/form_under.png") 50% 50% no-repeat;* */
	background-image:url(../images/login.png);
	background-repeat:no-repeat;


}

.bd_vide {
/* 	background-color: orange; */
/* 	background: url("images/form_under.png") 50% 50% no-repeat;* */
	background-image:url(../images/new.png),;
	background-repeat:no-repeat;


}
.lien1{
	
	position: absolute; top: 185px; left: 242px; color: black; font-size: x-large}

.lien2{
	
	position: absolute; top: 331px; left: 242px; color: black; font-size: x-large}

.loginn{
	
	position: absolute; top: 162px; left: 230px; color: black; font-size: x-large}

.button{
	
	position: absolute; top: 320px; left: 470px; color: black; font-size: x-large}
	

.form_table{
	
	position: absolute; top: 80px; left: 90px; color: black; font-size: x-large}


.form_button{
	
	position: absolute; top: 390px; left: 470px; color: black; font-size: x-large}


.btn_return{
	
	position: absolute; top: 320px; left: 450px; color: black; font-size: x-large}
	
.phrase{
	
	position: absolute; top: 150px; left: 140px; color: black; font-size: x-large}	

.bd_v{
	
	position: absolute; top: 150px; left: 170px; color: black; font-size: x-large}


.btn_table{
	
	position: absolute; top: 490px; left: 1070px;
}
	
	
	
.table{
	
	position: absolute; top: 130px; left: 100px; 
}
	
.liste{
	
	
	position: absolute; top: 60px; left: 500px; 
}

.label{
	
	
	size: 20px; 
}
	
.form{
	
	
	position: absolute; top: 60px; left: 250px; 
}


form input {
    margin: 3px 3px 0px 0px;
}

form label {
    float: left;
    width: 110px;
    margin: 3px 0px 0px 0px;
	font-weight: bold;
}