<html>
	<head>
		<title>
		$title
		</title>
		 <script>
    function sendForm(form, dist, sourceEventId){
    var formname = form.name;
	document.getElementsByName(formname)[0].setAttribute("action",dist);
	document.getElementById('zcComponentId_'+formname).value=sourceEventId;
	document.forms[formname].submit();
    }
        </script>
	</head>
	<body>
		#foreach( $layoutVar in $layout )
			$layoutVar.body
		#end
		
		
	</body>
</html>